$primary : #25282E;
$white: #ffffff;
$success: #19A717;
$secondary: #272B3F;


$fc-primary-op1:  rgba(37, 40, 46, 0.1);
$fc-primary-op2:  rgba(37, 40, 46, 0.2);
$fc-primary-op3:  rgba(37, 40, 46, 0.3);
$fc-primary-op4:  rgba(37, 40, 46, 0.4);
$fc-primary-op5:  rgba(37, 40, 46, 0.5);
$fc-primary-op6:  rgba(37, 40, 46, 0.6);
$fc-primary-op7:  rgba(37, 40, 46, 0.7);
$fc-primary-op8:  rgba(37, 40, 46, 0.8);
$fc-primary-op9:  rgba(37, 40, 46, 0.9);

$border: 1px solid rgba(37, 40, 46, 0.1);

$tablet: 768px;
$laptop: 1024px;
$laptop-m: 1280px;
$laptop-l: 1440px;
$laptop-xl: 1980;
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 500px;