.icon{
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
}

.icon-dropdown {
  width: 8px;
  height: 5px;
}

.icon-cloud-rain{
  width:100px;
  height:100;
}

.icon-wind, .icon-humidity, .icon-visibility{
  width: 25px;
  height: 25px;
}

.icon-search{
  width: 15px;
  height: 15px;
}